region            = "us-east-1"
environment       = "lab"
shared_infra_name = "eks-lab"

create_network_if_missing = true
network_vpc_cidr          = "10.0.0.0/16"
public_subnet_cidrs       = ["10.0.0.0/20", "10.0.16.0/20"]

create_rds    = true
db_identifier = "oficina-postgres-lab"
db_username   = "oficina_master"

vpc_id     = null
subnet_ids = []

allowed_security_group_ids = []
allowed_cidr_blocks       = []

instance_class            = "db.t4g.micro"
deletion_protection       = true
skip_final_snapshot       = true
final_snapshot_identifier = null

create_eks           = true
cluster_name         = "eks-lab"
kubernetes_version   = "1.35"
eks_cluster_role_arn = "arn:aws:iam::<aws-account-id>:role/<lab-eks-cluster-role>"
eks_node_role_arn    = "arn:aws:iam::<aws-account-id>:role/<lab-eks-node-role>"

create_ecr_repositories = true
ecr_repository_names = [
  "oficina-os-service",
  "oficina-billing-service",
  "oficina-execution-service",
]

create_api_gateway = true
api_gateway_name   = "eks-lab-http-api"

create_execution_dynamodb             = true
execution_dynamodb_table_prefix       = "oficina-execution-lab"
create_domain_messaging               = true
domain_messaging_raw_message_delivery = true

create_terraform_shared_data_bucket = false
